body {
  font-family: var(--ff-primary);
}

.wrapper {
  margin: 0 auto;
  background-color: var(--bg-c-primary);
}

.container {
  padding: 0 20px;
  height: 100%;
  max-width: 1416px;
  margin: 0 auto;
}
