:root {
  //### color
  --c-brand-1: linear-gradient(85deg, var(--c-orange-1) 0%, var(--c-red-1) 100%);
  --c-brand-2: linear-gradient(225deg, var(--c-orange-1) 0%, var(--c-red-1) 100%);
  --c-orange-1: #fe8c00;
  --c-orange-2: #f4b7a1;

  // red
  --c-red-1: #f83600;
  --c-red-2: #e6001c;
  // white
  --c-white-1: #fffefe;
  // black
  --c-black-1: #050505;
  // green
  --c-green-1: #00cb9a;
  --c-green-2: #40c72a;
  //gray
  --c-gray-1: #999999;
  --c-gray-2: #555555;

  //### font family
  --ff-primary: 'Bai Jamjuree', sans-serif;
  --ff-secondary: 'Orbitron', sans-serif;

  //### backround color
  --bg-c-primary: var(--c-white-1);

  //### text color
  --text-c-primary: var(--c-black-1);
  --text-c-secondary: var(--c-gray-2);
}

.dark-theme {
  --bg-c-primary: var(--c-black-1);
  --text-c-primary: var(--c-white-1);
  --text-c-secondary: var(--c-gray-1);
}
